<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
    <title>Twitterbook - Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>Twitterbook</h1>
             
            <nav>
                <a href="/register">Sign up</a> |
                <a href="/login">Login</a> |
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h2> Sign up form </h2>
                
                <form action="/register" method="POST">
                    <input type="text" name="username"
                        placeholder="username">
                    <input type="text" name="email"
                        placeholder="email">
                    <input type="password" name="password"
                        placeholder="password">
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="contact">
                <h5>Contact Us</h5>
                <p>Twitterbook!</p>
                <p>123 Sleeping Street</p>
                <p>Asheville, NC 28801</p>
            </div>
        </div>

    </footer>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/script.js"></script>
    <body>

</html>
